body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.page-container {
  display: flex;
  justify-content: center;
}
.sidebar-container {
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  color: white;
}

.logo-container {
  font-family: Norse;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 15vh;
  background: rgba(0, 0, 0, 0.5);
}

.odin-logo {
  width: 70px;
  height: 90px;
}

.odin-text {
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: auto;
}

.background-credit {
  font-size: 10px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: 15px;
}

.background-credit a {
  color: white;
}

.main-container {
  width: 45%;
}

.introduction,
.form-container,
.button-container {
  padding-left: 35px;
}

.introduction,
.button-container {
  background-color: #f8f8f8;
}

.introduction {
  font-weight: 600;
  font-size: 18px;
  height: 30vh;
  justify-content: left;
  align-content: flex-end;
  padding-bottom: 30px;
  padding-right: 50px;
}

.form-container {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 7px;
  height: 30vh;
}

h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 75%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 20px;
  padding-left: 10px;
  border: 1px solid;
  border-color: #e5e7eb;
  border-radius: 4px;
}

input:focus {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

input:hover {
  background-color: #f8f8f8;
}

[type*="password"]:invalid {
  border-color: red;
}

.button-container {
  padding-top: 20px;
  height: 30vh;
}

button:hover {
  background-color: #6f885a;
}

.login-option a:hover,
.background-credit a:hover {
  color: #6f885a;
}

button {
  background-color: #596d48;
  color: white;
  height: 40px;
  width: 180px;
  border: 1px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.login-option {
  font-size: 13px;
  padding-top: 15px;
}

.login-option a {
  text-decoration: none;
  color: #596d48;
  font-weight: 600;
}
